@{
    Layout = "~/Areas/M/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Areas/M/Styles/FL_JBProduce.css" rel="stylesheet" />
}
<div ng-app="APP" ng-controller="CTRL" id="main" style="width:100%;height:100%;margin:0px;padding:0px">
    <div class="main-left">
        <div class="module1 title">
            <div style="display:table;width:100%;height:100%;">
                <div style="display:table-cell;vertical-align:middle;width:100%;">
                    <div class="row">
                        <div class="col-xs-6">
                            @ViewBag.Title
                        </div>
                        <div class="col-xs-5">
                            <div id="ProducteWeek" class="week">@ViewBag.Week</div>
                            <div id="ProducteDate" class="date">@ViewBag.Date</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module2 bg-color-1">
            <div class="module2-body">
                <div class="producerow">
                    <div class="module1-title">
                        价类
                    </div>
                </div>
            </div>
        </div>
        <div class="module2 bg-color-2">
            <div class="module2-body">
                <div class="producerow">
                    <div class="module1-title">
                        系列
                    </div>
                </div>
            </div>
        </div>
        <div class="module2 bg-color-3">
            <div class="module2-body">
                <div class="producerow">

                    <div class="module1-title">
                        牌号
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="header-content exist-left">
        <div class="module1 title" style="background-color:#4D4D4D;height:100%">
            <div style="display:table;width:100%;height:100%;">
                <div style="display:table-cell;vertical-align:middle;text-align:center;width:100%;">
                    <div class="row" style="font-size:small;">
                        <table>
                            <tr style="font-size:15px">
                                <td width="10%">
                                    开始日期：
                                </td>
                                <td width="10%">
                                    <input id="ConStart" type="text" data-format="yyyy-MM-dd" class="form-control datepicker-here" style="height:23px" />
                                </td>
                                <td width="2%"></td>
                                <td width="10%">
                                    结束日期：
                                </td>
                                <td width="10%">
                                    <input id="ConEnd" type="text" data-format="yyyy-MM-dd" class="form-control datepicker-here" style="height:23px" />
                                </td>
                                <td width="2%"></td>
                                @*<td width="30%">
                                        <ul class=" list-inline list-inline-extents">
                                            <li ng-click="QueryData(1)" ng-class="{typeatcive: 1 == SelectType}"><a href="#">柱状图</a></li>
                                            <li ng-click="QueryData(2)" ng-class="{typeatcive: 2 == SelectType}"><a href="#">饼图</a></li>
                                            <li ng-click="QueryData(3)" ng-class="{typeatcive: 3 == SelectType}"><a href="#">折线图</a></li>
                                        </ul>
                                    </td>*@
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="main-content exist-left" style="margin-left:10%">

        <div class="producerow">

            <div class="row" style="margin: 0px 0px 0px 0px; height: 100%;">
                <div class="col-xs-3" style="padding:0px;height:100%;width:100%;">
                    <div class="group" style="height: 100%; border-top: 1px solid lightblue; border-right: 1px solid lightblue; border-bottom: 1px solid lightblue; padding-top: 2px;">
                        <div id="MainChart_JL" style="height:99%;width:99%">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="producerow">

            <div class="row" style="margin: 0px 0px 0px 0px; height: 100%;">
                <div class="col-xs-3" style="padding:0px;height:100%;width:100%;">
                    <div class="group" style="height: 100%; border-top: 1px solid lightblue; border-right: 1px solid lightblue; border-bottom: 1px solid lightblue; padding-top: 2px;">
                        <div id="MainChart_XL" style="height:99%;width:99%">

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="producerow">

            <div class="row" style="margin: 0px 0px 0px 0px; height: 100%;">
                <div class="col-xs-3" style="padding:0px;height:100%;width:100%;">
                    <div class="group" style="height: 100%; border-top: 1px solid lightblue; border-right: 1px solid lightblue; border-bottom: 1px solid lightblue; padding-top: 2px;">
                        <div id="MainChart_PH" style="height:99%;width:99%">

                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/chart");
    <script src="~/Areas/M/Scripts/FL_CutBatchPlan.js"></script>
}
