<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <spring>
    <context>
      <!--构件注册-->
      <resource uri="config://spring/objects" />
      <resource uri="file://~/Bus/ObjectsConfig.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net">
    </objects>

    <!--数据库配置-->
  </spring>
  <log4net>
    <!--将日志信息保存到数据库的配置-->
    <!--MS Sql Server-->
    <!--<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      -->
    <!--配置缓存-->
    <!--
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.;initial catalog=MDFDB;integrated security=false;persist security info=True;User ID=sa;Password=8888" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>-->


    <!--<appender name="UserLogAdoNetAppender" type="log4net.Appender.AdoNetAppender">
      -->
    <!--配置缓存-->
    <!--
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.;initial catalog=MDFDB;integrated security=false;persist security info=True;User ID=sa;Password=8888" />
      <commandText value="INSERT INTO UserLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[UserName],[IpAddress],[PageName],[OperateName]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@UserName,@IpAddress,@PageName,@OperateName)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="MDF.Framework.Log.UserLogLayout,MDF.Framework">
          <conversionPattern value="%property{Message}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@UserName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="MDF.Framework.Log.UserLogLayout,MDF.Framework">
          <conversionPattern value="%property{UserName}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@IpAddress" />
        <dbType value="String" />
        <size value="50" />
        <layout type="MDF.Framework.Log.UserLogLayout,MDF.Framework">
          <conversionPattern value="%property{IpAddress}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@PageName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="MDF.Framework.Log.UserLogLayout,MDF.Framework">
          <conversionPattern value="%property{PageName}" />
        </layout>
      </parameter>

      <parameter>
        <parameterName value="@OperateName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="MDF.Framework.Log.UserLogLayout,MDF.Framework">
          <conversionPattern value="%property{OperateName}" />
        </layout>
      </parameter>
    </appender>-->




    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <bufferSize value="100" />
      <file value="C:\MES\log\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />

      <!--<param name="StaticLogFileName" value="false"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %method - %message%newline" />
      </layout>



      <!--<filter type="log4net.Filter.StringMatchFilter">
        <param name="StringToMatch" value="UserLoginInfo" />
      </filter>-->

    </appender>


    <appender name="IntegrationRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <bufferSize value="100" />
      <file value="C:\MES\Integration\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd&quot;.log&quot;" />

      <!--<param name="StaticLogFileName" value="false"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %method - %message%newline" />
      </layout>



      <!--<filter type="log4net.Filter.StringMatchFilter">
        <param name="StringToMatch" value="UserLoginInfo" />
      </filter>-->

    </appender>

    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <!--<logger name="MDF.Framework.UserLogInfo" additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="UserLogAdoNetAppender" />
    </logger>-->

    <logger name="MDF.Integration.Loger" additivity="true">
      <level value="All" />
      <appender-ref ref="IntegrationRollingFileAppender" />
    </logger>
    <!--<logger name="FileLog" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="RollingFileAppender"/>
  </logger>-->

    <!--<logger name="MDF.Framework.UserLogInfo" additivity="false">
      <level value="Debug"/>
      <appender-ref ref="UserLogAdoNetAppender" />
    </logger>-->

    <!--<logger name="FileLog" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="RollingFileAppender"/>
  </logger>-->

  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="RunLib" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />

    <bindings>
      <customBinding>
        <binding name="customBinding">
          <binaryMessageEncoding />
          <tcpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="netTcpBinding" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="HttpBinding" sendTimeout="00:01:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="MDF.Service.BusinessService">
        <endpoint address="BusinessService" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="MDF.Framework.Bus.IBusinessService" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" contract="MDF.Framework.Bus.IBusinessService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4506" />
            <add baseAddress="http://localhost:4507/BusinessService" />
          </baseAddresses>
        </host>
      </service>
      <service name="MDF.Service.CrossDomainService">
        <endpoint address="" behaviorConfiguration="CrossDomainService.CrossDomainServiceBehavior" binding="webHttpBinding" contract="MDF.Service.ICrossDomainService">
        </endpoint>
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost" />-->
            <add baseAddress="http://localhost:4507" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CrossDomainService.CrossDomainServiceBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
