@{
    Layout = "~/Areas/M/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Areas/M/Styles/FL_CutQua.css" rel="stylesheet" />
}
<div ng-app="APP" ng-controller="CTRL" id="main" style="width:100%;height:100%;margin:0px;padding:0px">
    <div class="main-left">
        <div class="module1 title">
            <div style="display:table;width:100%;height:100%;">
                <div style="display:table-cell;vertical-align:middle;width:100%;">
                    <div class="row">
                        <div class="col-xs-6">
                            @ViewBag.Title
                        </div>
                        <div class="col-xs-5">
                            <div id="ProducteMonth" class="date">@ViewBag.Date</div>
                            <div id="ProducteMonth" class="date">@ViewBag.Week</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="module2 bg-color-0">
            <div class="module2-body" style="text-align: center; vertical-align: middle">
                <div class="row">
                    <div class="col-xs-4" style="font-size: 24px;">
                        制丝质量<br />
                    </div>
                </div>
            </div>
        </div>
        <div class="module2 bg-color-0">
            <div class="module2-body" style="text-align: center; vertical-align: middle">
                <div class="row">
                    <div class="col-xs-4" style="font-size: 24px;">
                        卷包质量 <br />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-content exist-left" style="margin-left:5%;">

        <div class="left-left">
            <div class="header-content">
            </div>
            <div class="producerow">
                <div class="row" style="margin: 0px 0px 0px 0px; height: 100%;">
                    <div class="col-xs-3" style="padding:0px;height:100%;width:100%;">
                        <div class="group" style="height: 100%; border-left: 1px solid lightblue;border-top: 1px solid lightblue; border-right: 1px solid lightblue; border-bottom: 1px solid lightblue; padding-top: 2px;">

                            <div id="Qua_ZS" style="height:80%;width:80%">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="producerow">

                <div class="row" style="margin: 0px 0px 0px 0px; height: 100%;">
                    <div class="col-xs-3" style="padding:0px;height:100%;width:100%;">
                        <div class="group" style="height: 100%; border-top: 1px solid lightblue; border-right: 1px solid lightblue; border-bottom: 1px solid lightblue; padding-top: 2px;">
                            <div id="Qua_JB" style="height:99%;width:99%">

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
     



    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/chart");
    <script src="~/Areas/M/Scripts/FL_CutQua.js"></script>
}
