
.main-Head {
    height:10%;
    /*line-height:100px;*/
    /*background:black;*/
    width:100%;
    position:absolute;
    /*z-index:5;*/
    top:0;
    /*text-align:center;*/
}
.main-Body {
    height:45%;
    /*background:#FC0;*/
    width:100%;
    /*overflow:auto;*/
    top:10%;
    position:absolute;
    /*z-index:10;
    bottom:100px;*/
}
.main-Foot {
    /*height:100px;
    line-height:100px;*/
    height:45%;
    /*background:#690;*/
    width:100%;
    position:absolute;
    /*z-index:200;*/
    bottom:0;
    /*text-align:center;*/
}
.left_side{  
    position:relative;  
    top:0px;  
    left:0px;  
    float:left;
    /*border: 3px dashed #808080;*/
    /*border:solid 1px #0000FF;*/  
    width:50%;  
    height:100%;  
}  
  
.right_side{  
    position:relative;  
    top:0px;  
    right:0px; 
    float:right;
    /*border: 3px dashed #808080;*/
    /*border:solid 1px #0000FF;*/  
    width:50%;  
    height:100%;  
}  


.module2 {
    height: 100%;
    border: 3px dashed #808080;
    /*border: 3px solid #808080;*/
}

.module2-top {
    float: left;
    width: 100%;
    height: 10%;
    /*background-color: black;*/
    padding: 7px 10px;
    text-align: center;
    color: #4cff00;
    font-size: 16px;
}

.module2-down {
    float: left;
    width: 100%;
    height: 95%;
    /*height: 50%;*/
    /*background-color: black;*/
    /*padding: 0px 0px;*/
    /*margin-top: 30px;*/
    text-align: center;
    color: #ff6a00;
    /*font-size: 22px;*/
}

.module1 {
    /*background-color: rgba(0,0,0,0.4);*/
    /*height: 100px;*/ /*左侧非标题中  字的高度*/
    line-height: 60px; /*左侧非标题中  字线的高度*/
    font-size: 45px;
    color: #fff;
    padding: 0px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}



















